@using Microsoft.Extensions.Options;
@using HomeMyDay.Web.Base.Extensions;
@model Accommodation

@inject IOptions<RedirectExtension> OptionsApplicationConfiguration

<div class="col-sm-3">
	<h2 class="text-center">Populaire vakanties</h2>
    <a asp-area="" asp-controller="Accommodation" asp-action="Detail" asp-route-id="@Model.Id">
        <div class="thumbnail">
            @{
                @*MediaObject primaryObject = Model.MediaObjects.FirstOrDefault(m => m.Primary);

                    if (primaryObject != null && primaryObject.Type == MediaType.Image)
                    {
                        <img src="@primaryObject.Url" alt="@primaryObject.Description">
                    }*@

                <img src="@OptionsApplicationConfiguration.Value.NodeIp/api/v1/images/@Model.Images[0].Filename">

            }
            @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
                <div class="caption">
                    <p>@Model.Description.Truncate(75)</p>
                </div>
            }
        </div>
    </a>
</div>
