@model PaginatedList<Accommodation>

<div class="container">
    <div class="row p-t-51 m-b-20">
        <div class="col-md-12">
            <div class="dropdown pull-right">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
                    @Model.PageSize
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu">
                    <li>
                        <a asp-area="CMS"
                           asp-action="Index"
                           asp-route-page="@(Model.PageIndex)"
                           asp-route-pageSize="5"
                           asp-controller="Accommodation">5</a>
                    </li>
                    <li>
                        <a asp-area="CMS"
                           asp-action="Index"
                           asp-route-page="@(Model.PageIndex)"
                           asp-route-pageSize="10"
                           asp-controller="Accommodation">10</a>
                    </li>
                    <li>
                        <a asp-area="CMS"
                           asp-action="Index"
                           asp-route-page="@(Model.PageIndex)"
                           asp-route-pageSize="25"
                           asp-controller="Accommodation">25</a>
                    </li>
                    <li>
                        <a asp-area="CMS"
                           asp-action="Index"
                           asp-route-page="@(Model.PageIndex)"
                           asp-route-pageSize="50"
                           asp-controller="Accommodation">50</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>
                                Name
                            </th>
                            <th>
                                Description
                            </th>
                            <th>
                                Max Persons
                            </th>
                            <th>
                                Country
                            </th>
                            <th>
                                Recommended
                            </th>
                            <th>
                                Price
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Accommodation accommodation in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(x => accommodation.Name)
                                </td>
                                <td>
                                    @accommodation.Description.Truncate(250)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(x => accommodation.MaxPersons)
                                </td>
                                <td>
                                    @Html.DisplayFor(x => accommodation.Country)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(x => accommodation.Recommended)
                                </td>
                                <td class="text-right">
                                    @Html.DisplayFor(x => accommodation.Price)
                                </td>
                                <td>
                                    <a asp-area="CMS"
                                       asp-controller="Accommodation"
                                       asp-action="Edit"
                                       asp-route-id="@accommodation.Id"
                                       class="btn btn-block btn-default">
                                        <i class="fa fa-pencil-square-o"></i> Edit
                                    </a>
                                    <a asp-area="CMS"
                                       asp-controller="Accommodation"
                                       asp-action="Delete"
                                       asp-route-id="@accommodation.Id"
                                       class="btn btn-block btn-warning">
                                        <i class="fa fa-trash-o"></i> Delete
                                    </a>
                                </td>
                            </tr>}
                    </tbody>
                </table>
            </div>

            @{  var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.HasNextPage ? "disabled" : "";
            }

            <nav aria-label="Search results pages">
                <ul class="pagination">
                    <li class="@prevDisabled">
                        @if (Model.HasPreviousPage)
                        {
                            <a asp-area="CMS"
                               asp-action="Index"
                               asp-route-page="@(Model.PageIndex - 1)"
                               asp-route-pageSize="@Model.PageSize"
                               asp-controller="Accommodation"
                               aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>}
                        else
                        {
                            <span aria-hidden="true" aria-label="Previous">&laquo;</span>}
                    </li>

                    @for (int i = Model.StartPage; i <= Model.EndPage; i++)
                    {
                        <li class="@(Model.PageIndex == i ? "active": "")">
                            <a asp-area="CMS"
                               asp-action="Index"
                               asp-route-page="@i"
                               asp-route-pageSize="@Model.PageSize"
                               asp-controller="Accommodation">
                                @i
                                @if (Model.PageIndex == i)
                                {<span class="sr-only">(current)</span>}
                            </a>
                        </li>}


                    <li class="@nextDisabled">
                        @if (Model.HasNextPage)
                        {
                            <a asp-area="CMS"
                               asp-action="Index"
                               asp-route-page="@(Model.PageIndex + 1)"
                               asp-route-pageSize="@Model.PageSize"
                               asp-controller="Accommodation"
                               aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>                        }
                        else
                        {
                            <span aria-hidden="true" aria-label="Next">&raquo;</span>}
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>