@model PaginatedList<FaqCategory>

<div class="container">
	<div class="row p-t-51 m-b-20">
		<div class="col-md-12">
			<div class="dropdown pull-right">
				<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown">
					@Model.PageSize
					<span class="caret"></span>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a asp-area="CMS"
						   asp-action="Index"
						   asp-route-page="@(Model.PageIndex)"
						   asp-route-pageSize="5"
						   asp-controller="FaqCategory">5</a>
					</li>
					<li>
						<a asp-area="CMS"
						   asp-action="Index"
						   asp-route-page="@(Model.PageIndex)"
						   asp-route-pageSize="10"
						   asp-controller="FaqCategory">10</a>
					</li>
					<li>
						<a asp-area="CMS"
						   asp-action="Index"
						   asp-route-page="@(Model.PageIndex)"
						   asp-route-pageSize="25"
						   asp-controller="FaqCategory">25</a>
					</li>
					<li>
						<a asp-area="CMS"
						   asp-action="Index"
						   asp-route-page="@(Model.PageIndex)"
						   asp-route-pageSize="50"
						   asp-controller="FaqCategory">50</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead>
						<tr>
							<th>
								Categorynaam
							</th>
							<th>
								Actions
							</th>
						</tr>
					</thead>
					<tbody>
						@foreach (FaqCategory faqCategory in Model)
						{
							<tr>
								<td>
									<a asp-area="CMS"
									   asp-controller="Faq"
									   asp-action="Questions"
									   asp-route-id="@faqCategory.Id">
										@Html.DisplayFor(x => faqCategory.CategoryName)
									</a>
								</td>
								<td>
									<a asp-area="CMS"
									   asp-controller="Faq"
									   asp-action="EditCategory"
									   asp-route-id="@faqCategory.Id"
									   class="btn btn-block btn-default">
										<i class="fa fa-pencil-square-o"></i> Edit
									</a>
									<a data-toggle="modal"
									   data-target="#ConfirmCategoryDelete@(faqCategory.Id)"
									   class="btn btn-block btn-warning">
										<i class="fa fa-trash-o"></i> Delete
									</a>
								</td>
								@Html.Partial("../../Partials/ConfirmCategoryDelete.cshtml", faqCategory)
							</tr>}
					</tbody>
				</table>
				<div class="pull-right">
					<a asp-area="CMS"
					   asp-controller="Faq"
					   asp-action="EditCategory"
					   class="btn btn-block btn-default">
						<i class="fa fa-plus-square-o"></i> New category
					</a>
				</div>
			</div>

			@{  var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
				var nextDisabled = !Model.HasNextPage ? "disabled" : "";
			}

			<nav aria-label="Search results pages">
				<ul class="pagination">
					<li class="@prevDisabled">
						@if (Model.HasPreviousPage)
						{
							<a asp-area="CMS"
							   asp-action="Index"
							   asp-route-page="@(Model.PageIndex - 1)"
							   asp-route-pageSize="@Model.PageSize"
							   asp-controller="FaqCategory"
							   aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>}
						else
						{
							<span aria-hidden="true" aria-label="Previous">&laquo;</span>}
					</li>

					@for (int i = Model.StartPage; i <= Model.EndPage; i++)
					{
						<li class="@(Model.PageIndex == i ? "active": "")">
							<a asp-area="CMS"
							   asp-action="Index"
							   asp-route-page="@i"
							   asp-route-pageSize="@Model.PageSize"
							   asp-controller="FaqCategory">
								@i
								@if (Model.PageIndex == i)
								{<span class="sr-only">(current)</span>}
							</a>
						</li>}


					<li class="@nextDisabled">
						@if (Model.HasNextPage)
						{
							<a asp-area="CMS"
							   asp-action="Index"
							   asp-route-page="@(Model.PageIndex + 1)"
							   asp-route-pageSize="@Model.PageSize"
							   asp-controller="FaqCategory"
							   aria-label="Next">
								<span aria-hidden="true">&raquo;</span>
							</a>                        }
						else
						{
							<span aria-hidden="true" aria-label="Next">&raquo;</span>}
					</li>
				</ul>
			</nav>
		</div>
	</div>
</div>