@model HomeMyDay.Models.Booking

<div id="booking-confirmation" class="container">

	<h1>Bevestiging</h1>

	<p>Nog even controleren, en dan volop genieten en ontdekken!</p>

	<p><strong>Controleer alles zorgvuldig.</strong></p>

	<h2>Accommodatie</h2>
	<p>@Model.Accommodation.Name</p>
	<p>@Model.Accommodation.Country, @Model.Accommodation.Location</p>

	<hr />

	<div id="booking-information" class="col-lg-6">

		<h2>Reisgegevens</h2>
		<ul>
			<li>Heenreis: @Model.DepartureDate</li>
			<li>Terugreis: @Model.ReturnDate</li>
		</ul>

		<h2>Personen</h2>

		@foreach (BookingPerson person in Model.Persons)
		{
			@if(person.BookingOwner)
			{
				<h3>Hoofdboeker</h3>
			}
			else
			{
				<h3>Boeker nummer @(Model.Persons.IndexOf(person) + 1)</h3>
			}
				<ul>
					<li>@person.Salutation @person.FirstName @person.Insertion @person.LastName</li>
					<li>@person.BirthDate.Value.ToString("dd/MM/yyyy")</li>
					<li>@person.PostalCode</li>
					<li>@person.Country.Name</li>
					<li>@person.Nationality.Name</li>
					<li>@person.Email</li>
					<li>@person.PhoneNumber</li>
				</ul>
		}

	</div>

	<div id="booking-price" class="col-lg-6">
		<p>Vertrektijden worden z.s.m. bekend gemaakt.</p>
		<p>U vindt uw tijden en tickets op uw persoonlijke pagina, en via de mail.</p>

		<p><strong>TIP: Druk deze gegevens af!</strong></p>

		<h2>Jouw complete reissom</h2>
		<p>Uw reissom is:</p>
		<table>
			<tbody>
				<tr>
					<td>Luchthaven Bel</td>
					<td>&euro;</td>
				</tr>
				<tr>
					<td>Boekings kosten</td>
					<td>&euro;</td>
				</tr>
				<tr>
					<td>Ruim bagage heen</td>
					<td>&euro;</td>
				</tr>
				<tr>
					<td>Ruim bagage terug</td>
					<td>&euro;</td>
				</tr>
				<tr>
					<td>Verzekering</td>
					<td>&euro;</td>
				</tr>
				@if (Model.InsuranceExplore)
				{
					<tr>
						<td>Explore 2.0</td>
						<td>&euro;</td>
					</tr>
				}
                @if (Model.InsuranceService)
                {
                    <tr>
                        <td>Service 2.0</td>
                        <td>&euro;</td>
                    </tr>
                }
				<tr>
					<td class="total">Totaal</td>
					<td>&euro;</td>
				</tr>
			</tbody>
		</table>
	</div>

    <form asp-action="Confirmation" method="post">
        <input type="submit" name="submit" value="Boeking bevestigen" class="btn btn-primary" />
    </form>
</div>