@model IEnumerable<AccommodationDetailBlockViewModel>

@if (Model != null && Model.Any(a => a.CanDisplay))
{
    <div class="detail-blocks">
        <ul class="nav nav-tabs" role="tablist">
            @for (int i = 0; i < Model.Count(); i++)
            {
                AccommodationDetailBlockViewModel blockModel = Model.ElementAt(i);
                if (!blockModel.CanDisplay)
                {
                    continue;
                }

                <li role="presentation" class="@((i == 0) ? "active" : "")">
                    <a href="#@blockModel.Title.Dashed()" aria-controls="@blockModel.Title.Dashed()" role="tab" data-toggle="tab">
                        @if (!string.IsNullOrWhiteSpace(blockModel.Icon))
                        {
                            @:<i class="fa @blockModel.Icon" aria-hidden="true"></i>
                    }
                        @blockModel.Title
                    </a>
                </li>
}
        </ul>
        <div class="tab-content">
            @for (int i = 0; i < Model.Count(); i++)
            {
                AccommodationDetailBlockViewModel blockModel = Model.ElementAt(i);
                if (!blockModel.CanDisplay)
                {
                    continue;
                }

                <div role="tabpanel" class="tab-pane @((i == 0) ? "active" : "")" id="@blockModel.Title.Dashed()">
                    <p>@blockModel.Text</p>
                </div>
}
        </div>
    </div>
}
