@model ReviewViewModel

<form asp-controller="Review" asp-action="AddReview" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                Review toevoegen
            </div>
        </div>
        <div class="panel-body">
            <div class="form-input-group">
                <input asp-for="@Model.AccommodationId" hidden />
            </div>
            <div class="form-input-group">
                <label asp-for="@Model.Title">Titel:</label>
                <input class="form-control" asp-for="@Model.Title" />
            </div>
            <div class="form-input-group">
                <label asp-for="@Model.Name">Naam:</label>
                <input class="form-control" asp-for="@Model.Name" />
            </div>
            <div class="form-input-group">
                <label asp-for="@Model.Text">Omschrijving:</label>
                <textarea rows="5" class="form-control " asp-for="@Model.Text"></textarea>
            </div>
            <div class="form-input-group">
                <button class="btn btn-primary center-block mtop20" type="submit">Review toevoegen</button>
            </div>
        </div>
    </div>
</form>