@using Microsoft.Extensions.Options;
@using HomeMyDay.Web.Site.Home.Extensions;
@using HomeMyDay.Web.Base.ViewModels
@model HomeMyDay.Web.Base.ViewModels.AccommodationSearchResultsViewModel

@{
    ViewData["Title"] = "Zoekresultaten";
}

@inject IOptions<RedirectExtension> OptionsApplicationConfiguration

<link rel="stylesheet" type="text/css" href="~/css/search.css" />

<h1 class="text-center">Zoekresultaten</h1>

<div class="container">
    <div class="row">
        @await Component.InvokeAsync("SearchBar", Model.Search)
    </div>
</div>

<div class="row">
    <div class="container" id="search-results">
        @foreach (Accommodation accommodation in Model.Accommodations)
        {
            <div class="panel panel-default">
                <div class="panel panel-body">
                    <a asp-area="" asp-controller="Accommodation" asp-action="Detail" asp-route-id="@accommodation.Id">
                        <div class="accommodation-image-text">
                            <h2>@accommodation.Name</h2>
                            <p>@accommodation.Country, @accommodation.Continent</p>
                        </div>
                    </a>
                    <div class="search-result">
                        <div class="accommodation-preview">
                            @{

                                <img src="@OptionsApplicationConfiguration.Value.NodeIp/api/v1/images/@accommodation.Images[0].Filename" />
                            }
                        </div>
                        <div class="accommodation-info">
                            <p>@accommodation.Description.Truncate(1200)</p>
                            <p class="planecar col-md-6">
                                <i class="fa fa-plane fa-2x" aria-hidden="true"></i>
                                <i class="fa fa-plus" aria-hidden="true"></i>
                                <i class="fa fa-car fa-2x" aria-hidden="true"></i>
                            </p>
                            <p class="price col-md-6">&euro;@accommodation.Price</p>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
